<p>Hi {{GC.currentUser.name}}</p>
<p>Choose an answer for each of the questions and submit the test once done!</p>
<p>Good luck!</p>

<form>
    <div class='form-group'>
        <label>1: {{GC.questions[0].content}}</label>
        <input type='radio' ng-model='GC.answer1' value='1'>
        {{GC.questions[0].correctAnswer}}
        <input type='radio' ng-model='GC.answer1' value='0'>
        {{GC.questions[0].fakeAnswer1}}
        <input type='radio' ng-model='GC.answer1' value='00'>
        {{GC.questions[0].fakeAnswer2}}
    </div>
</form>
<form>
    <div class='form-group'>
        <label>2: {{GC.questions[1].content}}</label>
        <input type='radio' ng-model='GC.answer2' value='1'>
        {{GC.questions[1].correctAnswer}}
        <input type='radio' ng-model='GC.answer2' value='0'>
        {{GC.questions[1].fakeAnswer1}}
        <input type='radio' ng-model='GC.answer2' value='00'>
        {{GC.questions[1].fakeAnswer2}}
    </div>
</form>
<form>
    <div class='form-group'>
        <label>3: {{GC.questions[2].content}}</label>
        <input type='radio' ng-model='GC.answer3' value='1'>
        {{GC.questions[2].correctAnswer}}
        <input type='radio' ng-model='GC.answer3' value='0'>
        {{GC.questions[2].fakeAnswer1}}
        <input type='radio' ng-model='GC.answer3' value='00'>
        {{GC.questions[2].fakeAnswer2}}
    </div>
</form>
<button ng-click='GC.submit()'>Submit</button>
<button ng-click='GC.cancel()'>Cancel</button>